// Darkmode

$dark1: #242322;
$dark2: #131212;
$dark-button: #f3d18c;
$dark-heading: #f3d18c;
$dark-font: #f0f0f0;
$dark-notif: #428d91;
$dark-warn: #b93b37;

body, .strip {
    background-color: $dark1 !important;
    color: $dark-font !important;
}

.header, .footer, .program-sidenav {
    background-color: $dark2 !important;
}

.brand-title.header-title {
    color: $dark-font !important;
}

.main-menu > ul > li > a {
    color: $dark-font !important;
}

.intro h1, .intro h2, p, .title, .content h2, .content li, .content {
    color: $dark-font !important; 
}

a {
    color: $dark-button !important; 
}

a:hover {
    color: darken($dark-button, 5%) !important; 
}

.button {
    background-color: $dark-button !important;
    color: $dark1 !important; 
}

.button:hover {
    background-color: darken($dark-button, 5%)!important;
    color: $dark1 !important;  
}

span.tag.badge.badge-pill.badge-primary {
    background-color: $dark-button !important;
    color: $dark1 !important;  
}

span.tag.badge.badge-pill.badge-primary:hover {
    background-color: darken($dark-button, 5px)!important;
    color: $dark1 !important;  
}

.announcement.danger {
    background-color: $dark-warn !important;
}

.announcement {
    background-color: $dark-notif !important;
}

.hamburger .hamburger-inner, .hamburger .hamburger-inner::before, .hamburger .hamburger-inner::after {
    background-color: $dark-font !important;
}

.content > h2, .content > h3 {
    color: $dark-heading !important;
}