// Darkmode

$dark1: #1C1C1C;
$dark2: #222222;
$dark-button: #dddddd;
$dark-heading: #dfdfdf;
$dark-font: #ffffff;
$dark-notif: #48979b;
$dark-warn: #c24e4a;
$dark-orange: #FECA78;

body, .strip {
    background-color: $dark1 !important;
    color: $dark-font !important;
}

.header, .footer, .program-sidenav {
    background-color: $dark2 !important;
}

.brand-title.header-title {
    color: $dark-font !important;
}

.main-menu > ul > li > a {
    color: $dark-font !important;
}

.intro h1, .intro h2, p, .title, .content h2, .content li, .content {
    color: $dark-font !important; 
}

a {
    color: $dark-button !important; 
}

a:hover {
    color: lighten($dark-button, 20%) !important; 
}

.button {
    background-color: $dark-orange !important;
    color: $dark1 !important; 
}

.button:hover {
    background-color: darken($dark-orange, 10%)!important;
    color: $dark1 !important;  
}

span.tag.badge.badge-pill.badge-primary {
    background-color: $dark-orange !important;
    color: $dark1 !important;  
}

span.tag.badge.badge-pill.badge-primary:hover {
    background-color: darken($dark-orange, 10px)!important;
    color: $dark1 !important;  
}

.announcement.danger {
    background-color: $dark-warn !important;
}

.announcement {
    background-color: $dark-notif !important;
}

.hamburger .hamburger-inner, .hamburger .hamburger-inner::before, .hamburger .hamburger-inner::after {
    background-color: $dark-font !important;
}

.content > h2, .content > h3 {
    color: $dark-heading !important;
}

p > a, .content li > a {
    color: $dark-orange !important;
}

p > a:hover, .content li > a:hover {
    color: darken($dark-orange, 10px)!important;
}

::selection {
    color: $dark1 !important;
    background: $dark-orange !important;
  }