// Colors
$primary: #1b1b1b;
$secondary: #ff9f21;
$black: #1b1b1b;
$white: #ffffff;
$white-offset: #f6f7ff;
$highlight-offset: #ffeeef;
$steel: #5C5A5A;
$hint: #9797a0;
$dark: $black;

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-color: lighten($primary, 5%);
$link-hover-decoration: underline;

// Fonts
$font-family-base: 'Inter', Arial, sans-serif, -apple-system;
$font-family-heading: 'Inter', Arial, sans-serif, -apple-system;

// Footer
$footer-background-color: $steel;
$footer-text-color: $white;
$sub-footer-background-color: darken($steel, 5%);
$sub-footer-text-color: $white;

// Pattern
@import 'libraries/patterns';

@import 'libraries/fonts';

// Dark Mode

@import 'darkmode';

// Bootstrap
@import 'bootstrap-variables';
@import 'bootstrap/bootstrap-reboot';
@import 'bootstrap/bootstrap-grid';
// @import 'bootstrap/bootstrap'; // Uncomment this line to import the entire Bootstrap library
@import 'bootstrap/utilities/float';
@import 'bootstrap/forms';
@import 'bootstrap/badge';
@import 'bootstrap/input-group';
@import 'bootstrap/spinners';
@import 'bootstrap/nav';

// Libraries
@import 'libraries/hamburgers/hamburgers';

// Components
/*! purgecss start ignore */
@import 'components/type';
@import 'components/page';
@import 'components/header';
@import 'components/footer';
@import 'components/sub-footer';
@import 'components/logo';
@import 'components/main-menu';
@import 'components/main-menu-mobile';
@import 'components/hamburger';
@import 'components/buttons';
@import 'components/announcement';
@import 'components/title';
@import 'components/content';
@import 'components/intro';
@import 'components/intro-image';
@import 'components/strip';
@import 'components/feature';
@import 'components/social';
@import 'components/carousel';
@import 'components/donate';
@import 'components/page-icon';
@import 'components/sponsors';
@import 'components/tags';
@import 'components/carbon';
@import 'components/meta';
@import 'components/expand';
@import 'components/nav';
@import 'components/pill';
@import 'components/checkbox';
@import 'components/climate';
@import 'components/testimonial';
@import 'components/homesub';
/*! purgecss end ignore */

// Pages
@import 'pages/home';
@import 'pages/brand';
@import 'pages/donate';
@import 'pages/subscribe';
@import 'pages/team/team-summary';
@import 'pages/team/team-single';
@import 'pages/team/team-list';
@import 'pages/programs/page-programs-single';
@import 'pages/blog/page-blog';
@import 'pages/blog/page-blog-single';
@import 'pages/fellowship/speaker';

body {
  font-size: 16px;
  line-height: 1.2;
  font-family: $font-family-base;
  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 1.3;
  }
}

// Table of Content
#TableOfContents ul {
  padding: 0 0 0 20px;
  line-height: 30px;
}

// HTML SMOOTH

html {
  scroll-behavior: smooth;
}

// Tag

span.tag.badge.badge-pill.badge-primary {
  padding: 0.5em 0.8em !important;
  text-transform: uppercase !important;
  margin-bottom: 0.5rem;
  background-color: #2f2f41;
}

// Image

input[type=checkbox] {
  display: none;
}

@media screen and (min-width: 769px) {
  /* .post-content is a class which will be present only on single pages 
      and not lists and section pages in Hugo */
  .image input[type="checkbox"]:checked ~ label > img {
      transform: scale(1.6);
      cursor: zoom-out;
      position: relative;
      z-index: 999;
  }

  .image img.zoomCheck {
      transition: transform 0.15s ease;
      z-index: 999;
      cursor: zoom-in;
  }
}

// Caraousel

@media screen and (max-width: 529px) {
  .flickity-viewport {
    height: 200px !important;
  }
  .carousel-cell {
    height: 200px !important;
  } 
}

@media screen and (max-width: 992px) {
  .flickity-viewport {
    height: 250px !important;
  }
  .carousel-cell {
    height: 250px !important;
  } 
} 

// Hr
.content hr {
  margin: 20px 0 35px 0 !important;
}

// Display breakpoints for DEV
{{ if hugo.IsServer }}
body:after {
  color: #000000;
  font-size: 12px;
  padding: 5px;
  font-weight: bold;
  right: 10px;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  bottom: 10px;
  width: 200px;
  z-index: 9999;
  border: solid 1px #000000;
  @each $name, $value in $grid-breakpoints {
    @include media-breakpoint-up($name) {
      content: '#{$name} - min-width: #{$value}';
    }
  }
}
{{ end }}

// Table of Contents

@media screen and (max-width: 767px) {
  .program-sidenav.sticky {
    display: none;
  }
}

.program-sidenav.sticky {
  position: sticky;
  top: 10px;
}

// Code

.highlight {
  margin-bottom: 20px;
}