{{ define "body_classes" }}page-blog{{ end }}
{{ define "main" }}
<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ .Content }}
      </div>
    </div>
  </div>
</div>
<div class="container pb-md-12 pb-6">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      {{ range (.Paginate .RegularPagesRecursive).Pages.ByWeight }}
      <div class="mb-4">{{ .Render "summary" }}</div>
      {{ end }}
      <div class="paginator">
        {{ if .Paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL }}" class="pagination__link pagination__link--previous button float-left">
          « Terbaru
        </a>
        {{ end }}
        {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}" class="pagination__link pagination__link--next button float-right">
          Sebelumnya »
        </a>
        {{ end }}
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="aside tags">
        <h2>Tags</h3>
          {{range ($.Site.GetPage "taxonomyTerm" "blog/tags").Pages }}
          <a href="{{ .RelPermalink }}"><span class="tag badge badge-pill badge-primary">{{.Title}}</span></a>
          {{end}}
      </div>
    </div>
  </div>
</div>
{{ end }}