{{ define "meta_tags" }}
<meta name="description" content="{{ .Description | default .Content | plainify | htmlUnescape | truncate 180 "…" }}" />
<meta property="og:title" content="{{ .Title }} – {{ .Site.Title }}" />
<meta property="og:type" content="{{ .Title }} – {{ .Site.Title }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ if .Params.featured_image }}{{ .Permalink }}{{ .Params.featured_image }}{{ else }}{{ .Site.BaseURL }}{{ .Site.Params.homepage_meta_tags.meta_og_image }}{{ end }}" />
<meta property="og:description" content="{{ .Description | default .Content | plainify | htmlUnescape | truncate 180 "…" }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
<meta name="twitter:image" content="{{ if .Params.featured_image }}{{ .Permalink }}{{ .Params.featured_image }}{{ else }}{{ .Site.BaseURL }}{{ .Site.Params.homepage_meta_tags.meta_og_image }}{{ end }}" />
{{ end }}
{{ define "body_classes" }}page-blog-single{{ end }}
{{ define "main" }}
<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="post-header">
        <h1 class="title">{{.Title}}</h1>
        <p class="meta">Posted {{ dateFormat "Jan 2, 2006" .Params.date }}</p>
      </div>
    </div>
  </div>
  <div class="row justify-content-start mt-3">
    <div class="col-12 col-md-8">
      <div class="content">{{.Content}}</div>
    </div>
    <div class="col-12 col-md-4">
      {{ partial "related" . }}
      <div class="program-sidenav">
        <h2>Tags</h2>
        {{ $taxo := "blog/tags" }}
        {{ range .Param $taxo }}
        {{ with site.GetPage (printf "/%s/%s" $taxo (. | urlize)) }}
        <a href="{{ .RelPermalink }}"><span class="tag badge badge-pill badge-primary">{{ .Title }}</span></a>
        {{ end }}
        {{ end }}
      </div>
      {{ partial "press-footer" . }}
    </div>
  </div>
</div>
{{ end }}